
PF.UI/.vs/PF.UI/v16/TestStore/0/testlog.manifest
PF.UI/.vs/PF.UI/v16/TestStore/0/000-0000.testlog
PF.UI/.vs/PF.UI/v16/Server/sqlite3/storage.ide-wal
PF.UI/.vs/PF.UI/v16/Server/sqlite3/storage.ide-shm
PF.UI/.vs/PF.UI/v16/Server/sqlite3/storage.ide
PF.UI/.vs/PF.UI/v16/Server/sqlite3/db.lock
PF.UI/.vs/PF.UI/v16/.suo
PF.UI/.vs/PF.UI/DesignTimeBuild/.dtbcache
